#GBE-hmenu > menuitem.menuitem-iconic
{
	min-width: 24px;
	max-width: 24px;
	width: 24px;
}

#fessGBE-prefs-sortType-Ctrl listboxbody {
  overflow-y: scroll;
}

#GBE-filterTextbox-label, .GBE-messageImage {
	margin-left: 30px;
}

#GBE-filterTextbox {
  margin-right: 30px;
}

.ac-result-type-google_bookmark,
.autocomplete-treebody::-moz-tree-image(google_bookmark, treecolAutoCompleteImage) {
  list-style-image: url("chrome://GBE/skin/images/bkmrk.png");
  /* -moz-image-region: rect(0px 48px 16px 32px); */
  width: 16px;
  height: 16px;
}

@namespace
url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#GBE-ToolBar-popup > menu {
  margin-right: 10px;
}

#GBE-ToolBar-popup > menuitem, #GBE-ToolBar-popup > menu, #GBE-searchResultList > menuitem { 
/*  max-width: 400px; 
  min-width: 400px;*/
}


/*#GBE-ToolBar-popup autorepeatbutton {
   display: none !important;
}*/ 

#GBE-ToolBar-popup scrollbox, #GBE-MainMenu-Popup scrollbox {
    overflow-y: auto !important; 
}

#GBE-ffBookmarks-warning{
  color: red;
  -moz-appearance: none;
  background-color: #FDF5E3;
}
